<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Parcial</title>
</head>
<body>
    <section class="titulo-ppal">
        <h1 class="titulo-ppal__titulo">Bienvenido</h1>

        <h4 class="titulo-ppal__nombres">Hecho por Valentina Alegría y Paula Peñaranda</h4>
    </section>
</body>
</html>