<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/paginaa.css">

    <title>Pagina A</title>
</head>
<body>
    <section class="regresar"><a class="regresar__a" href="/">Regresar a Home</a></section>
    
    <section class="titulo-ppal">
        <h1 class="titulo-ppal__titulo">Pagina A</h1>
    </section>

    <section class="pagina">
        <p class="pagina__texto">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus ratione tenetur inventore molestiae, tempore in unde facilis, velit accusantium laudantium illum perferendis voluptatum at doloremque, maxime quas porro eius nisi Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad saepe architecto laboriosam hic voluptate repellat accusamus deserunt quidem ex neque accusantium, ea repellendus, ipsam cum, vel numquam. Qui, sequi ipsa!.</p>
        
        <section class="pagina__botones">
            <button class="btn btn1"><a href="/paginab">Pagina B</a></button>
            <button class="btn btn1"><a href="/paginab">Pagina C</a></button>
        </section>
        
    </section>
</body>
</html>